
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: teal;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}

.nav_items {
    list-style: none;
}

.nav_links {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}

.signin {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signin label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.signin input[type="text"],
.signin input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.left{
    margin-left: 80px;
    position: centre;
    width: 25%;
    height: 20px;
    color: white;
    border: none;
    
}
.right{
    position: centre;
    width: 25%;
    height: 20px;
    color: white;
    border: none;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.div{
    position: centre;
}
.signin button:hover {
    background-color: #555;
}
